<div class="alert alert-success" role="alert" ng-show="success">
  El registro ha sido realizado con éxito
</div>
<div class="alert alert-danger" role="alert" ng-show="error">
  {{ errorMessage }}
</div>

<div id="registration-panel" class="panel panel-info">
  <div class="panel-heading">Ingrese sus datos para subscribirse a nuestra lista de distribución</div>
  <div class="panel-body">
    <form role="form" ng-submit="registerUser()" name="registrationForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" ng-model="email" ng-required="true" ng-maxlength="320">
      </div>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" ng-model="fullname" ng-required="true">
      </div>

      <div class="form-group">
        <div vc-recaptcha key="'6LdrPx8TAAAAAIn_9E3paV13kJdmesIm9AvGzzEb'"></div>
      </div>

      <button type="submit" class="btn btn-success" ng-class="registrationDisabled ? 'disabled' : ''">Registrarme</button>



    </form>
  </div>
</div>

<!--<div class="alert alert-warning" ng-show="!isLoggedIn()">-->
  <!--<p>Inicie sesion para continuar</p>-->
<!--</div>-->

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-register"></span>
