<div class="alert alert-success" role="alert" ng-show="success">
  El registro ha sido realizado con exito
</div>
<div class="alert alert-danger" role="alert" ng-show="error">
  Ha ocurrido un error, intente de nuevo
</div>

<div id="registration-panel" class="panel panel-info">
  <div class="panel-heading">Ingrese sus datos para subscribirse a nuestra lista de distribucion</div>
  <div class="panel-body">
    <form role="form" ng-submit="registerUser()">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" ng-model="fullname" ng-required="true">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" ng-model="email" ng-required="required">
      </div>
      <button type="submit" class="btn btn-success" ng-class="registrationDisabled ? 'disabled' : ''">Registrarme</button>
    </form>
  </div>
</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-register"></span>
