<div id="registration-panel" class="panel panel-default">
    <div class="panel-heading">Enviar correo a la lista de distribucion</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="subject">Subject:</label>
                <textarea class="form-control" id="subject"></textarea>
            </div>
            <div class="form-group">
                <label for="body">Body:</label>
                <textarea class="form-control" id="body"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>