<div class="alert alert-success" role="alert" ng-show="success">
    El registro ha sido realizado con exito
</div>
<div class="alert alert-danger" role="alert" ng-show="error">
    Ha ocurrido un error, intente de nuevo
</div>

<div id="registration-panel" class="panel panel-info" ng-show="isLoggedIn()">
    <div class="panel-heading">Enviar correo a la lista de distribucion</div>
    <div class="panel-body">
        <form role="form" ng-submit="sendEmail()">
            <div ng-repeat="element in news">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="content">Titulo:</label>
                            <textarea class="form-control" id="content" ng-model="element.header" ng-required="true"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Contenido:</label>
                            <textarea class="form-control" id="content" ng-model="element.content" ng-required="true"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Link:</label>
                            <textarea class="form-control" id="link" ng-model="element.link" ng-required="true"></textarea>
                        </div>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-success" ng-class="sendingDisabled ? 'disabled' : ''">Enviar</button>
            <button type="button" class="btn btn-success" ng-class="sendingDisabled ? 'disabled' : ''" ng-click="addNews()">Anadir noticia</button>
        </form>
    </div>
</div>

<div class="alert alert-warning" ng-show="!isLoggedIn()">
  <p>Inicie sesion para continuar</p>
</div>

<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-send"></span>
