<div id="registration-panel" class="panel panel-info">
  <div class="panel-heading">Ingrese sus datos para subscribirse a nuestra lista de distribucion</div>
  <div class="panel-body">
    <form role="form" ng-submit="registerUser()">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" ng-model="name" ng-required>
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" ng-model="email" ng-required>
      </div>
      <button type="submit" class="btn btn-success" >Registrarme</button>
    </form>
  </div>
</div>